<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="InventoryDB" connectionString="metadata=res://*/Inventory.csdl|res://*/Inventory.ssdl|res://*/Inventory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER\SQL2016;initial catalog=DEV_Inventory_V04;user id=sa;password=itrope@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="dbServerName" value="SERVER\SQL2016"/>
    <add key="dbUsername" value="sa"/>
    <add key="dbPassword" value="itrope@123"/>
    <add key="dbDatabaseName" value="DEV_Inventory_V04"/>
    
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SMTPSSL" value="true"/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPSenderEmail" value="snginvenproduct@gmail.com"/>
    <add key="SMTPSenderPwd" value="inven@123"/>
  </appSettings>
</configuration>